<div class="form-group" id="<%= dom_id(@comment) %>">
  <%= form_for [@post, @comment], remote: true do |f| %>
  <div class="input-group">
    <%= f.text_area :body, class: "form-control", placeholder: "enter your comment here", aria_describedby: "basic-addon1"%>
    <span class="input-group-addon" id="basic-addon1">
    <%= f.submit class: "btn btn-primary pull-right", data: {disable_with: "Saving..."} %></span>
  </div>
  <% end %>
</div>
