<p>Hello <%= @user.first_name %>,</p>
<p>Post title: <%= @post.title %></p>
<p>Comment(s):</p>
  <% @comment_array.each do |c| %>
      <li><%= "#{c}" %></li><hr>
  <% end %>
<p>Regards,</p>
<p>The Blog Team</p>
