/*
This file has to be registered in config/initializers/assets.rb
*/

h1 {
  background: rgba(46, 82, 4, 0.54);
  color: white;
}
.landing-pg {
  font-family: fantasy;
  color: rgba(46, 82, 4, 0.54);
}
