// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.created-by {
  font-size: 65%;
  color:rgba(0, 0, 0, 0.39);
}
.icon-big {
  font-size: 32px;
}
.label_check_boxes label {
  margin-left: 5px;
  margin-right: 25px;
}
